#notification-panel {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 384px;
    height: 448px;
    border-radius: 10px;
    z-index: 10;
}
.np-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 16px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 0px;
    width: 100%;
    height: 10%;
    border-radius: 16px 16px 0 0;
    background-color: var(--dark3);
}
.np-header > h1 {
    font-family: Fredoka;
    font-weight: 600;
    font-size: 1.4em;
    color: var(--light3);
}
.np-header > .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    height: 40px;
}
.np-header > .button-container > button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.np-header > .button-container > button > img {
    width: 20px;
    height: 20px;
}

.np-body {
    padding: 0.5em;
    width: 100%;
    height: 90%;
    border-radius: 0 0 16px 16px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 0px;
    backdrop-filter: blur(24px);
}
#notification-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 8px);
}
#notification-holder > .notification {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px dashed rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 8px 2px rgba(10, 10, 10, 0.1);
    background-color: rgba(200, 200, 200, 0.25);
    backdrop-filter: blur(100px);
    cursor: pointer;
}
#notification-holder > .readed {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(100, 100, 100, 0.25);
    cursor: default;
}
#notification-holder > .notification > #notification-text {
    font-family: Fredoka;
    font-weight: 450;
    font-size: 1em;
    text-shadow: 0px 2px 8px var(--dark1);
    color: var(--light2);
}
#notification-holder > .readed > #notification-text {
    font-weight: 300;
    color: var(--light3);
}
#notification-holder > .notification > #notification-date {
    margin: 0.5em 0 0 0;
    font-family: monospace;
    font-size: 1em;
    color: var(--light3);
}
#notification-holder > .readed > #notification-date {
    color: var(--light4);
}