:root {
    --dark1: #111;
    --dark1x: #121212;
    --dark2: #222;
    --dark2x: #2a2a2a;
    --dark3: #333;
    --dark4: #444;
    --dark5: #555;
    --light1: #fff;
    --light2: #eee;
    --light3: #ddd;
    --light4: #ccc;
    --light5: #bbb;
    --red1: #f00;
    --red1x: #a00;
    --red2: #5c0000;
    --red3: #161111;
    --green1: #0f0;
}

* {
    margin: 0;
    padding: 0;
}

#root {
    background-image: linear-gradient(to top, var(--red2), var(--red3));
    padding: 8px;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    z-index: 0;
}
